<!--

Code Conventions - Because you'll forget.  You know you will!

- All html id/class names should be formatted_like_so
- All javascript object/variable names should be formattedLikeSo
- Single quotes for all html attributes
-->

<html>
	<head>
		<script src='https://code.jquery.com/jquery-1.12.0.min.js'></script>
        <script src='https://code.jquery.com/ui/1.11.4/jquery-ui.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js'></script>
        <link rel='stylesheet' href='//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css'>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <script>
        	$(function(){
        		// Declare all Global Variables
        		var allChampions = {};
        		var allItems = {};
        		var allMasteries = {};
        		var allRunes = {};
        		var selectedChampion;
        		var selectedItems = [];
        		var selectedMasteries = {};
        		var selectedRunes = {};
        		var staticLink;
        		var riotApiBaseUrl = 'https://na.api.pvp.net/api/lol/';
                var championPath = 'static-data/na/v1.2/champion';
                var itemPath = 'static-data/na/v1.2/item';
                var mapPath = 'static-data/na/v1.2/map';
                var apiKey = '0457fb60-d595-4a50-b8ba-4c3af101fb20'; // This should probably be stored in the backend
                var imgBase = 'http://ddragon.leagueoflegends.com/';
                var ddragonVersion = '6.9.1';

                // 1. Populate all the list objects
                

                // 1a. Retrieve all Champions

                // 1b. Retrieve all Items

                // 1c. Retrieve all Masteries

                // 1d. Retrieve all Runes

                // 2. Populate page elements

                // 2a. Populate champ select dropdown

                // 2b. Populate items

                // 2c. Populate masteries

                // 2d. Populate runes

                // 3. Bind event handlers

                // 3a. Bind champ select dropdown event
                // 		- Populate base stats in selectedChampion and fill in page values accordingly
                //		- Set champion portrait image
                // 		- Filter item list (champ specific items, i.e. Viktor)

                // 3b. Bind item build events
                //		- OnClick: toggle selected
                //		- bind 'clear' button
                //		- bind 'remove' button

                // 3c. Bind item selector events
                //		- Bind wilcard search event
                //		- Bind radio button click events
                //		- Bind 'clear' button event

                // 3d. Bind item select events
                //		- Bind 'selected' toggle events
                // 		- Bind 'Add button event'

                // 4. Bind mastery page events
                //		- Bind onclick logic to enforce point max at each level
                // 		- Bind 'clear' button event

                // 5. Bind Rune page events
                //		- Toggle selected for rune list
                //		- bind expand/contract for rune types
                //		- bind 'add' and double click to add rune to page
        	})
        </script>
    </head>
    <body>
    	<h1>League of Legends Build Planner</h1>
    	<br/><br/>
    	<div id='champion_select'></div>
    	<div id='champion_summary'>
    		<div id='champion_portrait'></div>
    		<div id='champion_stats'></div>
    	</div>
    	<div id='selected_items'></div>
    	<h2>Select Items</h2>
    	<div id='item_selection'>
    		<div id='wildcard_filter'></div>
    		<div id='item_attribute_filters'>
    			<button id='clear_item_filters'>Clear Filters</button>
    		</div>
    		<div id='filtered_items'></div>
    		<button id='add_selected_item'>Add Item</button>
    	</div>
    	<h2>Set Masteries</h2>
    	<div id='mastery_builder'>
    		<div id='mastery_tree_one'></div>
    		<div id='mastery_tree_two'></div>
    		<div id='mastery_tree_three'></div>
    		<button id='clear_masteries'>Clear Masteries</button>
    	</div>
    	<h2>Set Runes</h2>
    	<div id='rune_builder'>
    		<div id='rune_lists'></div>
    		<div id='selected_runes'>
    			<button id='clear_runes'>Clear Runes</button>
    		</div>
    	</div>
    	<h2>Share this build:</h2>
    	<div id='static_link_generator'></div>
    </body>
</html>